body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.55em;
	font-family: Georgia, serif;
	font-size: 17px;
	color: #333;
	background-color: white;
}

#content {
	padding-top: 40px;
	padding-bottom: 2em;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

/* Media queries for responsivness */
@media (max-width: 760px) {
	#content {
		width: 500px;
		max-width: 500px;
		min-width: 500px;
		}
}
@media (max-width: 600px) {
	#content {
		width: 450px;
		max-width: 450px;
		min-width: 450px;
		}
}
@media (max-width: 480px) {
	#content {
		width: 300px;
		max-width: 300px;
		min-width: 300px;
		}
}