@import url(monokai.css);

body 
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.55em;
	font-family: AvenirNext-Medium, HelveticaNeue-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #000000;
	background-color: white;
}

a:link 
{
	text-decoration: none;
	color: #B8860B;
}

a:hover, 
a:visited 
{
	color: #B8860B;
}

h3 a:link, 
h3 a:visited 
{
	color: #333;
}

h3 a:hover 
{
	color: #B8860B;
}

hr.separator 
{
	margin-top: 10px;
	margin-bottom: 70px;
	max-width: 50%;
	border: 0;
    	height: 1px;
   	 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#header 
{
	line-height: 2em;
	padding-top: 55px;
	padding-bottom: 16px;
	background-color: #223e77;
	text-align: center;
}

#header a 
{
	color: #B8860B;;
}

#site-name 
{
	font-size: 72px;
	color: #B8860B;
}

.navigation 
{
	color: #B8860B;
}

#content 
{
	padding-top: 40px;
	padding-bottom: 2em;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

.post-title 
{
	color: #000000;
	font-size: 18px;
	margin-bottom: -1em;
}

.post-date-permalink,
.post-date-permalink  a:link, 
.post-date-permalink  a:visited 
{
	display: inline-block;
	color: #a3a1a1;
	font-size: 11pt;
}

.post-date-permalink a:hover 
{
	text-decoration: underline;
}

article
{
  margin-bottom: 80px;
}

.pagination 
{
	margin-bottom: 7em;
}

.previous-page 
{
	float: left;
	display: inline;
}

.next-page 
{
    float: right;
    display: inline;
}

.copyright 
{
	text-align: center;
	font-size: 11pt;
}

.highlight 
{
	background-color: #323232;
}

blockquote
{
  border-left:4px 
  solid #B8860B;
  margin-left:1em;
  padding-left:1em;
  color:#505050;
}

.center img.left
{
  margin-right:20em;
}

.center img.right
{
  margin-left:20em;
}

.center img.wide
{
  width:140%;
  max-width:140%;
  margin:0 -20%;
}

.content img
{
  max-width:100%;
}

.image-single {
  	max-width:100%;
	max-height:100%;
}

figure
{
  display:inline;
  float:right;
}

figure.figleft
{
  display:inline;
  float:left;
}

figcaption
{
  text-align:center;
  font-style:italic;
}

.separator 
{
	text-align: 
}

.footnotes 
{ 
    margin-top: 3em;
    font-size: 14px;
}

/* Media queries for responsivness */
@media (max-width: 760px) {
	#content {
		width: 500px;
		max-width: 500px;
		min-width: 500px;
		}
}
@media (max-width: 600px) {
	#content {
		width: 450px;
		max-width: 450px;
		min-width: 450px;
		}
}
@media (max-width: 480px) {
	#content {
		width: 320px;
		max-width: 320px;
		min-width: 320px;
		}

	.navigation {
		font-size: 22px;
	}
}
@media (max-width: 320px) {
	#content {
		width: 280px;
		max-width: 280px;
		min-width: 280px;
		}

	.navigation {
		font-size: 22px;
	}
}
}
