@import url(monokai.css);

body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.55em;
	font-family: AvenirNext-Medium, HelveticaNeue-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: black;
	background-color: white;
}

a:link {
	text-decoration: none;
	color: #B8860B;
}

a:hover, 
a:visited {
	color: #B8860B;
}

h3 a:link, 
h3 a:visited {
	color: #333;
}

h3 a:hover {
	color: #B8860B;
}

hr.separator {
	margin-top: 10px;
	margin-bottom: 70px;
	max-width: 50%;
	border: 0;
    height: 1px;
   	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#header {
	line-height: 2em;
	padding-top: 55px;
	padding-bottom: 16px;
	background-color: #223e77;
	text-align: center;
}

#header a {
	color: #B8860B;;
}

#site-name {
	font-size: 72px;
	color: #B8860B;
}

.navigation {
	margin-top: 10px;
	color: #B8860B;
}

.page-content {
	padding-top: 40px;
	padding-bottom: 2em;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

.post-title {
	color: black;
	font-size: 18px;
	margin-bottom: -1em;
}

.link-arrow {
	color: black;
}

.post-date-permalink,
.post-date-permalink  a:link, 
.post-date-permalink  a:visited {
	display: inline-block;
	color: #a3a1a1;
	font-size: 11pt;
}

.post-date-permalink a:hover {
	text-decoration: underline;
}

article{
  	margin-bottom: 80px;
}

.post-navigation {
	margin-bottom: 7em;
}

.previous-page {
	float: left;
	display: inline;
}

.next-page {
    float: right;
    display: inline;
}

.previous-post {
	float: left;
	display: inline;
}

.next-post {
	float: right;
	display: inline;
}

.post-tags {
	color: grey;
	font-size: 15px;
}

.copyright {
	text-align: center;
	font-size: 10pt;
}

.highlight {
	background-color: #323232;
}

blockquote {
  border-left:4px 
  solid #B8860B;
  margin-left:1em;
  padding-left:1em;
  color:#505050;
}

.image-single {
  	max-width:100%;
 	max-height:100%;
}

figure {
  display:inline;
  float:right;
}

figure.figleft {
  display:inline;
  float:left;
}

figcaption {
  text-align:center;
  font-style:italic;
}

.footnotes { 
    margin-top: 3em;
    font-size: 14px;
}

/* Media queries for responsivness */
@media only screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#site-name {
		font-size: 120px;
	}
	.navigation {
		padding-top: 10px;
		font-size: 42px;
	}
	.post-title {
		font-size: 22px;
	}
	.post-date-permalink,
	.post-date-permalink  a:link, 
	.post-date-permalink  a:visited {
		padding-top: 20px;
		padding-bottom: 10px;
		font-size: 34px;
	}
	.page-content {
		padding-top: 40px;
		padding-bottom: 2em;
		max-width: 830px;
	}
	.post-tags {
		color: grey;
		font-size: 18px;
	}
	hr.separator {
		max-width: 50%;
		border: 0;
		height: 4px;
	}
	.post-navigation {
		font-size: 36px;
    }
}


/* Overrides for Dark Mode */
@media (prefers-color-scheme: dark) {
	body {
        color: rgba(238, 234, 234, 0.734);
        background: #171717;
    }
    .link-arrow {
		color: rgba(238, 234, 234, 0.734);
    }
    #header {
		background-color: #171717;
	}
	h3 a:link, 
	h3 a:visited {
		color: rgba(238, 234, 234, 0.916);
	}
	blockquote {
		color:#909090;
	}
	hr.separator {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #B8860B, rgba(0, 0, 0, 0));
	}
}
