---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article>
  {% include index-post-header.html %}
  {{ post.content }}
  <span class="post-tags">
    Tags: 
    {% for tag in post.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}">{{ tag_name }}{% if forloop.last == false %},{% endif %}</code></a>
    {% endfor %}
</span>
</article>

<hr class="separator">
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="previous-page">&larr; Previous Posts</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="next-page">Newer Posts &rarr;</a>
  {% endif %}
</div>
