---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in site.posts %}
<article>
  {% include index-post-header.html %}
  {{ post.content }}
</article>

<hr class="separator">
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="previous-page">&larr; Previous Posts</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="next-page">Newer Posts &rarr;</a>
  {% endif %}
</div>
