<head>
  {% if page.title %}
  <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta name="author" content="Colm Mulhall">

  <!-- Stylesheets --> 
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/bigfoot.css">

  <!-- jQuery -->
  <script type="text/javascript" src="/js/jquery/jquery-2.2.3.min.js"></script>

  <!-- Bigfoot Footnotes -->
  <script type="text/javascript" src="/js/bigfoot/dist/bigfoot.min.js"></script>
  <script type="text/javascript">
      $.bigfoot({
          actionOriginalFN: "ignore",
          numberResetSelector: "article"
      });
  </script>
</head>