
<header class="post-header">
    <h1 class="post-title">
    	{% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a><span class="link-arrow">→</span>
        {% else %}
         <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endif %}
    </h1>
    
    <span class="post-date">
     	<time datetime="{{ post.date }}">{{ post.date | date: '%B %d, %Y' }}</time>
    </span>
    <span class="post-permalink">
    	<a href="{{ post.url | prepend: site.baseurl }}">Permalink</a>
    </span>
</header>
