
<header class="post-header">
    <div class="post-title">
        {% if page.link %}<h3><a href="{{ page.link }}">{{ page.title }}</a><span class="link-arrow">→</span></h3>{% else %}<h3><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h3>{% endif %}
    </div>
    
    <span class="post-date-permalink">
     	<a href="{{ page.url | prepend: site.baseurl }}">
     		<time datetime="{{ page.date }}">{{ page.date | date: '%B %-d, %Y' }}</time>
     	</a>
    </span>
</header>